---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

   <div class="page__footer">
  <footer>
    {% include footer/custom.html %}
    {% include footer.html %}

    <img src="https://visitor-badge.laobi.io/badge?page_id=ghosubhajit.github.io.main&left_color=59359a&right_color=171717" 
         alt="Visitor counter">

  </footer>
</div>

    {% include scripts.html %}

  </body>
</html>
