---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

<div class="page__footer">
  <footer>
    {% include footer/custom.html %}
    {% include footer.html %}

    <div style="margin-top: 10px; font-size: 0.8em; color: #666;">
      <span id="busuanzi_container_site_pv" style="display:none">
        Total Views: <span id="busuanzi_value_site_pv"></span> | 
      </span>
      
      <span id="busuanzi_container_site_uv" style="display:none">
        Unique Visitors: <span id="busuanzi_value_site_uv"></span>
      </span>
    </div>
    </footer>
</div>

    {% include scripts.html %}

  </body>
</html>
